# jwt
JWT_SECRET=your-secret-key-here

# mongo
MONGO_URI=mongodb://mongo:27017
MONGO_DB=mongodb
USER_MONGO_COLLECTION_NAME=user_collection_name
POST_MONGO_COLLECTION_NAME=post_collection_name

# urls
USER_SERVICE_URL=http://user:8080
POST_SERVICE_URL=http://post:8080